---
layout: default
active_page: 404
---

<div class="container text-center">
  <h1>404</h1>
  <p><strong>Strona nie znaleziona :(</strong></p>
  <p>Przekierowujemy Cię na stronę główną za 5 sekund. Jeśli to nie zadziała, <a href="{{ site.url }}">Kliknij tutaj.</a></p>
</div>

<script>
  window.setTimeout(function(){window.location="{{ site.url }}"},5e3);
</script>
