---
layout: default
active_page: donate
---
<div class="col-12">
  <div class="row">
    <div class="mx-auto text-center">
      <div class="mt-4 mb-4">
        <a href="https://www.privacytools.io/"><img src="assets/img/layout/logo_smaller.png" class="img-fluid" alt="privacytools.io"></a>
      </div>
      <h1>Proszę podaruj</h1>
      <p>Nasza strona internetowa jest wolna od reklam i nie jest powiązana z żadnymi wymienionymi dostawcami. <br> Twoja darowizna pokryje nasze koszty związane z serwerem, domenami, kawą, piwem i pizzą.</p>
      <h2>Bitcoin:</h2>
      <a href="bitcoin:1N4bKCx3kpvUTBhsvbmthPDssN8ATPEhgt?message=privacytools.io%20(Coffee,%20Beer%20and%20Pizza)" target="_blank">
        <img src="assets/img/layout/qr.png">
      </a>
      </p>
      <div class="form-group">
        <input id="address" type="text" value="1N4bKCx3kpvUTBhsvbmthPDssN8ATPEhgt" onclick="this.focus();this.select()" class="form-control text-center">
        <label for="address">Dla łatwego kopiowania i wklejania. <a href="bitcoin:1N4bKCx3kpvUTBhsvbmthPDssN8ATPEhgt?message=privacytools.io%20(Coffee,%20Beer%20and%20Pizza)">Lub użyj tego linku.</a></label>
      </div>
      </p>
      <p>
      <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=5G9CBU8P6F4K2" target="_blank"><img src="assets/img/layout/PayPal.png"></a>
      </p>
      <h3>Dziękuję za wsparcie. Jesteś niesamowity!</h3>
      <p>
      <img src="assets/img/misc/smile.png" class="img-fluid" alt="Smile">
      </p>
    </div>
  </div>
</div>
